<H1>How to...</H1>

<H2>I. How quoi ? Manage quoi? C'est quoi donc ?</H2>

<p>Et voilà la présentation du projet.</p>

<H3>I.1. Génèse<H3>

<H3>I.2. L'esprit<H3>

<H2>II. Le comment ça marche</H2>

<p>En voilà des explications sur le comment cela se joue-t-il</p>

<H3>II.1. Principes généraux</H3>

<H3>II.2. Les joueurs</H3>

<H3>II.3. Faire son équipe</H3>

<H3>II.4. Le reste</H3>

<H2>III .FAQ</H2>
