  <h1>Bienvenue</h1>
  <% if current_user %>
      <p><%= current_user.email %></p>
      <%= link_to "Déconnexion", logout_path %>
    <% else %>
      <p><%= link_to "Connexion", new_user_session_path %></p>
      <p><%= link_to "S'inscrire", new_user_path %></p>
    <% end %>
